.login__container {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.login__card {
    width: 492px;
    height: 500px;
    margin: 50px auto 50px 90px; /* Corregido para centrar horizontalmente */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    text-align: center;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 40px;
}

.login__documentType {
    width: 94px;
}

.login__dni {
    width: 190px;
    margin-bottom: 40px;
}

.login__errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.form__login {
    width: 296px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.login__ingresar {
    width: 296px;
    height: 39px;
    background-color: #0842C5;
    border: none;
    color: white;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
}

.login_registrar {
    width: 296px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1E1E1E;
    border: none;
    color: white;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
}

.login__dni, .login__documentType, .login__password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    margin-left: 5px;
    height: 20px;
}





